
.flex {
display: flex;
flex-wrap: wrap;
}
@media (min-width: 768px) {
.col-sm-5cols {
        width: 20%;
        float: left;
    }
.thumbnail img{
   height:250px;
   width:100%;
   padding-right: 5px;
    padding-left: 5px;
  
}
.border-box{
	border-width: auto;
	color:black

}
body{
	font-family: 'Open Sans', sans-serif;
	border-box:black;
}